body{
    background-color: #8a2be2;
    font-family: Arial, monospace;
    margin: 24px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div{
    color: #c2c2c2;
}

section{
    background-color: #2b2b2b;
    width: 500px;
    padding: 24px;
    border-radius: 10px;
}
h1{
    color: #8a2be2;
    font-size: 48px;
    text-align: center;
    margin-top: 0px;
}
.form_div{
    margin: 24px 0px;
}
label{
    font-size: 24px;
}
.form_input>input{
    width: calc(100% - 20px);
    border: none;
    padding: 10px;
    border-radius: 3px;
    display: block;
}
input{
    background-color: #c2c2c2;
}
input:focus{
    background-color: #ffffff;
}
::placeholder{
    font-size: 14px;
}
button{
    background-color: #8a2be2;
    color: #ffffff;
    font-family: Arial, monospace;
    font-size: 18px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.75s, border-radius 0.75s;
    cursor: pointer;
}
button:hover{
    background-color: #a9cffc;
    color: #2b2b2b;
    border-radius: 15px;
}
#a{
    padding-top: 24px;
    display: flex;
    justify-content: center;
}
a{
    color: #8a2be2;
    font-size: 18px;
    text-decoration: none;
}

footer{
    background-color: #2b2b2b;
    width: calc(100% - 20px);
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

*::selection{
    background-color: #8a2be2;
    color: #2b2b2b;
}

@media (max-width: 600px) {
    section{
        width: 100%;
        border-radius: 0px;
    }
}